.home-page-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  height: 100%;
  padding: 20px;
  padding-top: 40px;
  gap: 60px;
  width: 100%;
}

.labs-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  width: 100%;
}

.modal-footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  width: 50%;
}

.modal-footer-description {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}
