.primary-button,
.secondary-button,
.button-text {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.primary-button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white-900);
}

.primary-button:hover {
  background-color: var(--primary-color-hover);
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.secondary-button {
  background-color: var(--white-900);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.secondary-button:hover {
  background-color: var(--white-700);
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.primary-button,
.secondary-button {
  border-radius: 2px;
  margin-top: 1rem;
  padding: 8px;
  transition: all 200ms ease-in-out;
}

.primary-button:focus,
.secondary-button:focus {
  outline: none;
}

.destructive-button {
  background-color: var(--status-invalid);
  border: 1px solid var(--status-invalid);
  color: var(--white-900);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
  margin-top: 1rem;
  padding: 8px;
  transition: all 200ms ease-in-out;
}

.destructive-button:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.destructive-button:focus {
  outline: none;
}
